body {
	background-color: #942154;
	color: #fffff5;
}

img {
	width: 300px;
}

h1 {
	font-size: 60px;
	text-decoration: underline;
}

th {
	border-bottom: 2px solid #000000;
}

th, td {
	padding: 10px;
}

div.test ul li {
	list-style: square;
}